6
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family:'kanitregular';
}

.wrapper {
    min-height: calc(100vh - 320px);
}

/*----------- ANIMATE ------------------*/

/*----------- END ANIMATE ------------------*/





/*----------- NAVBAR 1 ------------------*/
.navbar-font{
    font-size: 15px;
    color: #333333;
    font-family: 'kanitlight';
}
.navbar-font2{
    font-size: 14px;
    color: #808080;
    font-family: 'kanitlight';
}
.navbar-font3{
    font-size: 14px;
    color: #808080;
    font-family: 'kanitlight';
    text-align: right;
}
.navbar-font4{
    font-size: 15px;
    color: #333333;
}
.navbar-p-t{
    padding-top: 8px;
}
.navbar-p-t2{
    margin-top: -9px;
}
.navbar-login{
    font-size: 20px;
    color: #333333;
}
.navbar-login:hover{
    font-size: 20px;
    color:#808080;
}
.navbar-b-r{
    border-right: 1px solid #777;
}
.navbar-b-b{
    border-bottom: 1px solid gray;
}
.navbar-nav a{
    color: #333333;
    font-size: 15px;
    font-family: 'kanitlight';
}
.navbar-bg{
    background-color: #FFC526;
}
.navbar-nav a:hover{
    font-family: 'kanitlight';
    color:#808080;
    font-size: 15px;
}
.dropbtn {
    font-size: 15px;
    font-family: 'kanitlight';
    color: #333333;
    border: none;
    background: transparent url(../../assets/images/logo/thai.png) no-repeat left ;
    background-size: 20px;
    width:70px;
    text-align: right;
    margin-top: 8px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    background-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 10px;
}
.dropdown-content a {
    color: black;
    padding: 12px 9px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color:#f2f2f2;color:#333333;}
.dropdown:hover .dropdown-content {display: block;}
.search-btn{
    background:#FFC526;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 0px 25px 25px 0px;
    width: 55px;
}
.search-btn:hover {
    transition: all 0.5s;
    background: #bf9f02;
}
.search-form {
    padding-left: 20px;
    border: 2px solid #FFC526;
    font-size: 15px;
    height: 50px;
    border-radius: 25px 0px 0px 25px;
}
.navbar-shadow{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
.shop-logo{
    font-size: 50px;
    margin-top: -5px;
}
.overlay-logo {
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
}
.logo-image-full {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-btn2{
    background:#333;
    font-size: 18px;
    border: none;
    border-radius: 0px 25px 25px 0px;
    width: 55px;
    color: white;
}
.search-btn2:hover {
    transition: all 0.5s;
    background-color: gray;
}
.search-form2 {
    padding-left: 20px;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 25px 0px 0px 25px;
}
.navbar-p-l{
    padding-left: 147px;
}
.search-p-t{
    padding-top: 32px;
}
.navbar2-p-l{
    padding-left: 30px;
}
/*----------- END NAVBAR 1 --------------*/








/*----------- FOOTER ----------------*/
.footer-font{
    font-size: 15px;
    color: #333333;
    font-family: 'kanitlight';
}
.footer-font2{
    font-size: 13px;
    color: white;
    font-family: 'kanitlight';
}
.footer-font3{
    font-size: 17px;
    color: #ffc526;
    font-family: 'kanitlight';
}
.footer-font4{
    font-size: 16px;
    color: #123cb2;
    font-family: 'kanitlight';
}
.footer-font5{
    font-size: 16px;
    color: #333333;
}
.footer-font6{
    font-size: 18px;
    color: #333333;
}
.footer-font7{
    font-size: 14px;
    color: #333333;
    font-family: 'kanitlight';
}
.footer-bg1{
    background-color: #f8f8f8;
}
.footer-bg2{
    background-color: #123cb2;
}
.footer-bg3{
    background-color: #ffc526;
}
.footer-bg4{
    background-color: #fff;
}
.footer-b-r{
    border-right: 2px solid #bfbfbf;
}
.footer-b-l{
    border-left: 2px solid #bfbfbf;
}
.footer-b-b{
    border-bottom: 2px solid #bfbfbf;
}
.footer-form {
    padding-left: 20px;
    border: 2px solid #123cb2;
    font-size: 15px;
    border-radius: 25px 0px 0px 25px;
}
.footer-btn{
    background:#123cb2;
    font-size: 15px;
    border: none;
    color: white;
    font-family: 'kanitlight';
    cursor: pointer;
    border-radius: 0px 25px 25px 0px;
}
.footer-btn:hover {
    transition: all 0.5s;
    background: #123cb2b8;
}
.footer-p-t{
    padding-top:22px;
}
.footer-p-t2{
    padding-top:15px;
}
.footer-p-t3{
    padding-top:35px;
}
.footer-p-t4{
    padding-top:6px;
}
.footer-p-t5{
    padding-top:20px;
}
.footer-p-r{
    padding-right: 40px;
}
.footer-pl6{
    padding-left: 50px;
}
.footer-b{
    border: 2px solid #bfbfbf;
}
.footer-link{
    color: #333333;
}
.footer-link:hover{
    color: #808080;
    text-decoration: none;
}
.footer-overlay-logo {
   position: relative;
   height: 131px;
   width: 100%;
   overflow: hidden;
}
.footer-image-full {
   position: absolute;
   display: block;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.footer-overlay-icon{
   position: relative;
   height: 43px;
   width: 100%;
   overflow: hidden;
}
.footer-image-icon{
   position: absolute;
   display: block;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.footer-overlay-img{
   position: relative;
   height: 119px;
   width: 100%;
   overflow: hidden;
}
.footer-image-size{
   position: absolute;
   display: block;
   width: 100px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.flaticon-headset:before{
    font-size: 35px;
    color: #ffc526;
}
.flaticon-clock:before{
    font-size: 60px;
    color: #ffc526;
    margin-left: -5px;
}
.flaticon-sketch:before{
    font-size: 60px;
    color: #ffc526;
    margin-left: -5px;
}
.flaticon-delivery-truck:before{
    font-size: 60px;
    color: #ffc526;
    margin-left: -5px;
}
.flaticon-like:before{
    font-size: 60px;
    color: #ffc526;
    margin-left: -5px;
}
.footer-facebook{
    font-size: 20px;
    color: white;
    background-color: #4665a1;
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 10px;
}
.footer-facebook:hover{
    font-size: 20px;
    color: white;
    background-color: #4665a1;
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 10px;
    animation: bounce 1.3s;
}
.footer-twitter{
    font-size: 20px;
    color: white;
    background-color:#4ab6ee;
    padding: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}
.footer-twitter:hover{
    font-size: 20px;
    color: white;
    background-color:#4ab6ee;
    padding: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    animation: bounce 1.3s;
}
.footer-google{
    font-size: 20px;
    color: white;
    background-color:#ec4643;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}
.footer-google:hover{
    font-size: 20px;
    color: white;
    background-color:#ec4643;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    animation: bounce 1.3s;
}
.footer-whatsapp{
    font-size: 25px;
    color: white;
    background-color:#1cbd2b;
    padding-top:5px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}
.footer-whatsapp:hover{
    font-size: 25px;
    color: white;
    background-color:#1cbd2b;
    padding-top:5px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    animation: bounce 1.3s;
}
.footer-payment{
    width: 50px;
    height: 30px;
}
.footer-payment:hover{
    width: 50px;
    height: 30px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*----------- END FOOTER --------------------*/



/*-----------------------------------
-------------- HOME -----------------
-------------------------------------*/
.home-font1{
    font-size: 50px;
    color: #123cb2;
    font-family: 'kanitmedium';
}
.home-font2{
    font-size: 30px;
    color: #333333;
}
.home-font3{
    font-size: 27px;
    color: #123cb2;
    font-family: 'kanitmedium';
    line-height: 1.6;
}
.home-font4{
    font-size: 27px;
    color: #123cb2;
    font-family: 'kanitmedium';
    line-height: 1;
}
.home-font5{
    font-size: 14px;
    color: #333333;
    font-family: 'kanitlight';
}
.home-font6{
    font-size: 25px;
    color: #333333;
}
.home-font7{
    font-size: 16px;
    color: #333333;
    font-family: 'kanitlight';
}
.home-font8{
    font-size: 21px;
    color: #123cb2;
}
.home-font9{
    font-size: 25px;
    color: #f99e0f;
}
.home-font10{
    font-size: 12px;
    color: #333333;
    font-family: 'kanitlight';
    text-decoration: line-through;
}
.home-font11{
    font-size: 18px;
    color: #333333;
    font-family: 'kanitlight';
}
.home-font12{
    font-size: 18px;
    color: #333333;
}
.home-font13{
    font-size: 16px;
    color: #f41f27;
    font-family: 'kanitlight';
    transition: all 0.5s;
}
.home-font13:hover{
    font-size: 16px;
    color: #f41f2773;
    font-family: 'kanitlight';
    text-decoration: none;
    transition: all 0.5s;
}
.home-font14{
    font-size: 25px;
    color: #333333;
}
.home-btn{
    width: 200px;
    height: 50px;
    border: 2px solid #123cb2;
    color: #123cb2;
    font-size: 20px;
    background: transparent;
    font-family: 'kanitlight';
    border-radius: 0px;
    transition: all 0.5s;
}
.home-btn:hover{
    width: 200px;
    height: 50px;
    border: 2px solid #123cb2;
    color: white;
    font-size: 20px;
    background:#123cb2;
    font-family: 'kanitlight';
    transition: all 0.5s;
    border-radius: 0px;
}
.home-btn2{
    width: 130px;
    height: 45px;
    border: 2px solid #ffcc2b;
    color: #fff;
    font-size: 15px;
    background: #ffcc2b;
    font-family: 'kanitlight';
    border-radius: 0px;
    margin-left: 10px;
    transition: all 0.5s;
}
.home-btn2:hover{
    width: 130px;
    height: 45px;
    border: 2px solid #ffcc2b;
    color: #ffcc2b;
    font-size: 15px;
    background: transparent;
    font-family: 'kanitlight';
    border-radius: 0px;
    margin-left: 10px;
    transition: all 0.5s;
}
.home-btn3{
    width: 100%;
    height: 50px;
    border: 2px solid #ffcc2b;
    color: #fff;
    font-size: 20px;
    background: #ffcc2b;
    font-family: 'kanitlight';
    border-radius: 0px;
    transition: all 0.5s;
}
.home-btn3:hover{
    width: 100%;
    height: 50px;
    border: 2px solid #123cb2;
    color: #fff;
    font-size: 20px;
    background: #123cb2;
    font-family: 'kanitlight';
    border-radius: 0px;
    transition: all 0.5s;
}
.home-overlay-image{
    position: relative;
    height: 339px;
    width: 100%;
    overflow: hidden;
}
.home-overlay-image2{
    position: relative;
    height: 141px;
    width: 100%;
    overflow: hidden;
}
.home-overlay-image3{
    position: relative;
    height: 338px;
    width: 100%;
    overflow: hidden;
}
.home-image-full {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-image-full2{
    position: absolute;
    display: block;
    width: 100%;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-image-full3{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-position-a{
    position: absolute;
    margin-top: 60px;
}
.home-position-a5{
    position: absolute;
    margin-top: -234px;
    right: 4%;
}
.home-position-a6{
    position: absolute;
    margin-top: 6px;
    margin-left: 45px;
    z-index: 1;
}
.home-position-a7{
    position: absolute;
    margin-top: 6px;
    margin-left: 65px;
    z-index: 1;
}
.home-position-a8{
    position: absolute;
    margin-top: 6px;
    margin-left: 55px;
    z-index: 1;
}
.home-position-a9{
    position: absolute;
    margin-top: 6px;
    margin-left: 67px;
    z-index: 1;
}
.home-position-a10{
    position: absolute;
    margin-top: 6px;
    margin-left: 40px;
    z-index: 1;
}
.home-position-a11{
    position: absolute;
    margin-top: 6px;
    margin-left: 50px;
    z-index: 1;
}
.home-p-l{
    padding-left: 40px;
}
.home-b-t{
    border-top: 8px solid #ffcc2b;
}
.home-b-b{
    border-bottom: 2px solid #ffcc2b;
}
.home-b-b2{
    border-bottom: 2px solid #a4a4a4;
}
.home-p-t2{
    padding-top: 27px;
}
.home-p-t3{
    padding-top: 50px;
}
.home-p-t4{
    padding-top: 53px;
}
.home-p-t5{
    padding-top: 27px;
}
.home-p-t6{
    padding-top: 27px;
}
.home-p-t7{
    padding-top: 108px;
}
.txt-indent{
    text-indent: 1em;
}
.porduct-border{
    border:1px solid #d1d2d1;
    border-radius: 0px;
}
.home-product{
    transition:  all 0.5s;
}
.home-product:hover{
    box-shadow: -1px 1px 22px -3px;
    transition: all 0.5s;
    background-color: white;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 1;
}
.home-overlay-product{
    position: relative;
    height: 216px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}
.home-image-product{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-overlay-coulasel{
    position: relative;
    height: 230px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}
.home-overlay-card{
    position: relative;
    height: 230px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}
.home-image-coulasel{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-shadow{
    box-shadow: 0px -1px 44px -17px;
}
.home-coulasel{
    box-shadow: 0px 1px 15px -6px;
    height: 396px;
}
.home-card{
    box-shadow: 0px 1px 15px -6px;
    height: 396px;
}
.b-n{
    border: none;
    border-radius: 0px;
}
.new-overlay-image{
    position: relative;
    height: 255px;
    width: 100%;
    overflow: hidden;
}
.new-image-full{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.owl-theme .owl-dots .owl-dot {
    display: none;
}
.owl-carousel .owl-nav button.owl-next {
    background: #eeeeee;
    color: #333333;
    font-size: 40px;
    width: 40px;
    position: absolute;
    top:40%;
    right:-3%;
    opacity: 0.7;
}
.owl-carousel .owl-nav button.owl-next:hover{
    background:black;
    color: #fff;
    font-size: 40px;
    width: 40px;
    position: absolute;
    top:40%;
    right:-3%;
    opacity: 0.7;
}
.owl-carousel .owl-nav button.owl-prev{
    background: #eeeeee;
    color: #333333;
    font-size: 40px;
    width: 40px;
    position: absolute;
    top:40%;
    left:-3%;
    opacity: 0.7;
}
.owl-carousel .owl-nav button.owl-prev:hover{
    background: black;
    color: #fff;
    font-size: 40px;
    width: 40px;
    position: absolute;
    top:40%;
    left:-3%;
    opacity: 0.7;
}
.home-gray{
    background-color: #f6f6f6;
}
.home-padding{
    padding: 8px;
}
.home-font8 {
    font-size: 17px;
    color: #123cb2;
}
.home-position-a6 {
    position: absolute;
    margin-top: 5px;
    margin-left: 76px;
    z-index: 1;
}
.home-position-a7 {
    position: absolute;
    margin-top: 5px;
    margin-left: 91px;
    z-index: 1;
}
.home-position-a8 {
    position: absolute;
    margin-top: 5px;
    margin-left: 90px;
    z-index: 1;
}
.home-position-a9 {
    position: absolute;
    margin-top: 5px;
    margin-left: 100px;
    z-index: 1;
}
.home-position-a10 {
    position: absolute;
    margin-top: 5px;
    margin-left: 76px;
    z-index: 1;
}
.home-position-a11 {
    position: absolute;
    margin-top: 5px;
    margin-left: 82px;
    z-index: 1;
}
.home-p-r{
    padding-right: 40px;
}
/*-------------------------------------
------------- END HOME ----------------
---------------------------------------*/



@media(max-width: 1366px){
  /*----------- NAVBAR (1366)------------------*/
  .dropbtn{
      font-size: 15px;
      font-family: 'kanitlight';
      color: #333333;
      border: none;
      background: transparent url(../../assets/images/logo/thai.png) no-repeat left ;
      background-size: 20px;
      width: 70px;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 130px;
      background-size: 15px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top:15px;
      margin-left: -10px;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 6px;
      text-decoration: none;
      display: block;
  }
  .navbar-p-l2{
      padding-left: 45px;
  }
  .navbar2-p-l{
      padding-left: 60px;
  }
  /*----------END NAVBAR (1366)------------*/

  /*---------- FOOTER (1366)------------*/
  .footer-p-t3{
      padding-top:34px;
  }
  /*----------END FOOTER (1366)------------*/
}


@media(max-width: 1024px){

  /*----------- NAVBAR (1024)------------------*/
  .dropbtn{
      font-size: 15px;
      font-family: 'kanitlight';
      color: #333333;
      border: none;
      background: transparent url(../../assets/images/logo/thai.png) no-repeat left ;
      background-size: 20px;
      width: 70px;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 130px;
      background-size: 15px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top:40px;
  }
  .dropdown-content a {
      color: black;
      padding: 6px 35px;
      text-decoration: none;
      display: block;
  }
  .navbar-p-l{
      padding-left: 40px;
  }
  .navbar2-p-l{
      padding-left: 40px;
  }
  /*----------- END NAVBAR (1024) ------------------*/


  /*----------- FOOTER (1024) ----------------*/
  .footer-font{
      font-size: 14px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .footer-font6{
      font-size: medium;
      color: #333333;
  }
  .footer-p-r{
      padding-right: 20px;
  }
  /*----------- END FOOTER (1024) -------------*/


  /*-------------------------------------
  ------------- HOME 1024 ----------------
  ---------------------------------------*/
  .home-font9 {
      font-size: 22px;
      color: #f99e0f;
  }
  .home-font11 {
      font-size: 16px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .home-font13 {
      font-size: 14px;
      color: #f41f27;
      font-family: 'kanitlight';
      transition: all 0.5s;
  }
  .home-font7 {
      font-size: 14px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .home-font8 {
      font-size: 22px;
      color: #123cb2;
  }
  .home-overlay-image{
      position: relative;
      height: 293px;
      width: 100%;
      overflow: hidden;
  }
  .home-overlay-image2{
      position: relative;
      height: 141px;
      width: 100%;
      overflow: hidden;
  }
  .home-image-full{
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-image-full2{
      position: absolute;
      display: block;
      width: 100%;
      height: 130px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-position-a {
      position: absolute;
      margin-top: 44px;
  }
  .home-position-a2 {
      position: absolute;
      margin-top: 105px;
      padding-left: 161px;
  }
  .home-position-a4{
      position: absolute;
      margin-top: 49px;
      margin-left: 29em;
  }
  .home-position-a5{
      position: absolute;
      margin-top: -245px;
      right: 2%;
  }
  .home-position-a6 {
      position: absolute;
      margin-top: 5px;
      margin-left: 98px;
      z-index: 1;
  }
  .home-position-a7 {
      position: absolute;
      margin-top: 5px;
      margin-left: 117px;
      z-index: 1;
  }
  .home-position-a8 {
      position: absolute;
      margin-top: 5px;
      margin-left: 113px;
      z-index: 1;
  }
  .home-position-a9 {
      position: absolute;
      margin-top: 5px;
      margin-left: 134px;
      z-index: 1;
  }
  .home-position-a10 {
      position: absolute;
      margin-top: 5px;
      margin-left: 91px;
      z-index: 1;
  }
  .home-position-a11 {
      position: absolute;
      margin-top: 5px;
      margin-left: 103px;
      z-index: 1;
  }
  .home-overflow{
      overflow: hidden;
      height: 50px;
  }
  .home-overflow2{
      overflow: hidden;
      height: 115px;
  }
  .home-p-t2 {
      padding-top: 21px;
  }
  .home-p-t3{
      padding-top: 40px;
      margin-left: -15px;
  }
  .home-p-t4{
      padding-top: 30px;
  }
  .home-p-t5 {
      padding-top: 25px;
  }
  .home-p-t6{
      padding-top: 0px;
  }
  .home-overlay-coulasel {
      position: relative;
      height: 184px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-coulasel {
      box-shadow: 0px 1px 15px -6px;
      height: 343px;
  }
  .home-overlay-card {
      position: relative;
      height: 178px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-card {
      box-shadow: 0px 1px 15px -6px;
      height: 337px;
  }
  .home-btn2 {
      width: 130px;
      height: 45px;
      border: 2px solid #ffcc2b;
      color: #fff;
      font-size: 15px;
      background: #ffcc2b;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-left: 10px;
      margin-top: 10px;
      transition: all 0.5s;
  }
  .home-btn2:hover {
      width: 130px;
      height: 45px;
      border: 2px solid #ffcc2b;
      color: #ffcc2b;
      font-size: 15px;
      background: transparent;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-top: 10px;
      margin-left: 10px;
      transition: all 0.5s;
  }
  .home-btn3 {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcc2b;
      color: #fff;
      font-size: 18px;
      background: #ffcc2b;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-btn3:hover {
      width: 100%;
      height: 50px;
      border: 2px solid #123cb2;
      color: #fff;
      font-size: 20px;
      background: #123cb2;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-overlay-product {
      position: relative;
      height: 362px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  /*-------------------------------------
  ------------- END HOME 1024 ----------------
  ---------------------------------------*/
}



@media(max-width: 768px){
  /*----------- NAVBAR (768) ------------------*/
    .shop-m-l{
       margin-left: 257px;
    }
    .overlay-logo {
       position: relative;
       height: 77px;
       width: 100%;
       overflow: hidden;
    }
    .search-p-t{
       padding-top: 17px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 130px;
        background-size: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top:15px;
        margin-left: -45px;
    }
  /*----------- END NAVBAR (768) ------------*/


  /*----------- FOOTER (768) ----------------*/
  .footer-pl3{
      padding-left: 10px;
  }
  .footer-pl4{
      padding-left: 100px !important;
  }
  .footer-p-t4{
      padding-top: 5px;
  }
  .footer-p-t3{
      padding-top: 31px;
  }
  .footer-p-t2{
      padding-top: 5px;
  }
  .footer-p-t{
      padding-top: 17px;
  }
  .footer-p-t5{
      padding-top: 22px;
  }
  .footer-padding{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /*----------- END FOOTER (768) -------------*/

  /*-------------------------------------
  ------------- HOME 768 ----------------
  ---------------------------------------*/
  .home-font1{
      font-size: 30px;
      color: #123cb2;
      font-family: 'kanitmedium';
  }
  .home-font2{
      font-size: 20px;
      color: #333333;
  }
  .home-font3 {
      font-size: 18px;
      color: #123cb2;
      font-family: 'kanitmedium';
      line-height: 1.6;
  }
  .home-font4 {
      font-size: 18px;
      color: #123cb2;
      font-family: 'kanitmedium';
      line-height: 1;
  }
  .home-font5 {
      font-size: 10px;
      color: #333333;
      font-family: 'kanitlight';
      line-height: 1;
  }
  .home-font6 {
      font-size: 19px;
      color: #333333;
  }
  .home-font7 {
      font-size: 12px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .home-font8 {
      font-size: 16px;
      color: #123cb2;
  }
  .home-font9 {
      font-size: 21px;
      color: #f99e0f;
  }
  .home-font11 {
      font-size: 15px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .home-position-a2{
      position: absolute;
      margin-top: -192px;
      padding-left: 42px;
  }
  .home-overlay-image {
      position: relative;
      height: 226px;
      width: 100%;
      overflow: hidden;
  }
  .home-position-a {
      position: absolute;
      margin-top: 38px;
  }
  .home-position-a2 {
      position: absolute;
      margin-top: 76px;
      padding-left: 118px;
  }
  .home-position-a5 {
      position: absolute;
      margin-top: -204px;
      right: 1%;
      padding-left: 6px;
  }
  .home-position-a6 {
      position: absolute;
      margin-top: 5px;
      margin-left: 77px;
      z-index: 1;
  }
  .home-position-a7 {
      position: absolute;
      margin-top: 5px;
      margin-left: 90px;
      z-index: 1;
  }
  .home-position-a8 {
      position: absolute;
      margin-top: 5px;
      margin-left: 89px;
      z-index: 1;
  }
  .home-position-a9 {
      position: absolute;
      margin-top: 5px;
      margin-left: 97px;
      z-index: 1;
  }
  .home-position-a10 {
      position: absolute;
      margin-top: 5px;
      margin-left: 71px;
      z-index: 1;
  }
  .home-position-a11 {
      position: absolute;
      margin-top: 5px;
      margin-left: 78px;
      z-index: 1;
  }
  .home-font14 {
      font-size: 18px;
      color: #333333;
  }
  .home-p-t3 {
      padding-top: 36px;
      margin-left: -15px;
  }
  .home-btn {
      width: 125px;
      height: 38px;
      border: 2px solid #123cb2;
      color: #123cb2;
      font-size: 15px;
      background: transparent;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-btn:hover {
      width: 125px;
      height: 38px;
      border: 2px solid #123cb2;
      color: white;
      font-size: 15px;
      background: #123cb2;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-image-full2 {
      position: absolute;
      display: block;
      width: 100%;
      height: 96px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-image-full3 {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-overlay-image2 {
      position: relative;
      height: 92px;
      width: 100%;
      overflow: hidden;
  }
  .home-btn2 {
      width: 86px;
      height: 30px;
      border: 2px solid #ffcc2b;
      color: #fff;
      font-size: 10px;
      background: #ffcc2b;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-top: -3px;
      margin-left: 10px;
      transition: all 0.5s;
  }
  .home-btn2:hover {
      width: 86px;
      height: 30px;
      border: 2px solid #ffcc2b;
      color: #ffcc2b;
      font-size: 10px;
      background: transparent;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-left: 10px;
      transition: all 0.5s;
      margin-top: -3px;
  }
  .home-btn3 {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcc2b;
      color: #fff;
      font-size: 16px;
      background: #ffcc2b;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
      margin-top: -5px;
      padding-top: 12px;
  }
  .home-btn3:hover {
      width: 100%;
      height: 50px;
      border: 2px solid #123cb2;
      color: #fff;
      font-size: 16px;
      background: #123cb2;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
      margin-top: -5px;
      padding-top: 12px;
  }
  .home-overlay-card {
      position: relative;
      height: 300px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-overlay-coulasel {
      position: relative;
      height: 184px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-padding{
      padding: 3px;
  }
  .home-p-t2 {
        padding-top: 9px;
  }
  .home-p-t4{
      padding-top: 30px;
  }
  .home-p-t5 {
      padding-top: 72px;
  }
  .home-p-t6{
      padding-top: 44px;
  }
  .home-p-t7 {
      padding-top: 74px;
  }
  .home-card {
      box-shadow: 0px 1px 15px -6px;
      height: 450px;
  }
  .home-coulasel {
      box-shadow: 0px 1px 15px -6px;
      height: 334px;
  }
  .home-overlay-image3 {
      position: relative;
      height: 221px;
      width: 100%;
      overflow: hidden;
  }
  .home-overlay-product {
      position: relative;
      height: 267px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-overflow {
      overflow: hidden;
      height: 39px;
  }
  /*------------------------------------
  ---------- END HOME 768 --------------
  ---------------------------------------*/
}


@media(max-width: 414px){
  /*----------- NAVBAR (414) ------------------*/
    .navbar-font2{
        font-size: 10px;
        color: #808080;
        font-family: 'kanitlight';
    }
    .navbar-font3{
        font-size: 10px;
        color: #808080;
        font-family: 'kanitlight';
        text-align: right;
    }
    .navbar-font4{
        font-size: 11px;
        color: #333333;
    }
    .navbar2-p-l{
        padding-left: 20px;
    }
    .shop-m-l{
        margin-left:25px;
    }
    .search-p-t{
        padding-top: 10px;
    }
    .shop-logo{
        font-size: 30px;
        margin-top: -2px;
    }
    .overlay-logo {
       position: relative;
       height:50px;
       width: 100%;
       overflow: hidden;
    }
    .shop-p-l-r{
       padding-left: 0px;
       padding-right: 0px;
    }
    .nav-p-r{
       padding-right: 0px;
       padding-top: 0px;
    }
    .nav-p-r2{
       padding-right:0px;
       padding-top: 0px;
    }
    .dropbtn{
        font-size: 15px;
        font-family: 'kanitlight';
        color: #333333;
        border: none;
        background: transparent url(../../assets/images/logo/thai.png) no-repeat left ;
        background-size: 20px;
        width: 70px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 130px;
        background-size: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top:8px;
        margin-left: -45px;
    }
    .dropdown-content a {
        color: black;
        padding: 6px 35px;
        text-decoration: none;
        display: block;
    }
  /*----------- END NAVBAR (414) ---------------*/

  /*----------- FOOTER (414) ----------------*/
    .footer-pl3{
        padding-left: 10px;
    }
    .footer-pl4{
        padding-left: 15px !important;
    }
    .footer-p-t4{
        padding-top:5px;
    }
    .footer-p-t3{
        padding-top: 40px;
    }
    .footer-p-t2{
        padding-top: 5px;
    }
    .footer-p-t{
        padding-top: 17px;
    }
    .footer-p-t5{
        padding-top: 20px;
    }
    .footer-b-r{
        border-right: none;
    }
    .footer-b-l{
        border-left: none;
    }
    .footer-p-r{
        padding-right: 15px;
    }
    .footer-pl6{
        padding-left: 0px;
    }
    .footer-p-t3{
        padding-top: 20px;
    }
    .footer-p-t7{
        padding-top: 30px;
    }
    .footer-overlay-logo {
       position: relative;
       height: 200px;
       width: 100%;
       overflow: hidden;
    }
    .footer-image-full {
       position: absolute;
       display: block;
       width: 100%;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    .footer-m-l2{
        margin-left: 1px;
    }
    .footer-p-t7{
        padding-top: 30px;
    }
  /*----------- END FOOTER (414) -------------*/


  /*------------------------------------
  ----------  HOME 414 --------------
  ---------------------------------------*/
  .home-font1 {
      font-size: 23px;
      color: #123cb2;
      font-family: 'kanitmedium';
  }
  .home-font2 {
      font-size: 17px;
      color: #333333;
  }
  .home-font3 {
      font-size: 18px;
      color: #123cb2;
      font-family: 'kanitmedium';
      line-height: 2.6;
  }
  .home-font6 {
      font-size: 12px;
      color: #333333;
  }
  .home-font7 {
      font-size: 12px;
      color: #333333;
      font-family: 'kanitlight';
  }
  .home-font8 {
      font-size: 18px;
      color: #123cb2;
  }
  .home-font14 {
      font-size: 19px;
      color: #333333;
  }
  .home-image-full {
      width: auto;
      position: absolute;
      display: block;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-overlay-product {
      position: relative;
      height: 375px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-image-product {
      position: absolute;
      display: block;
      width: 100%;
      height: 373px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-image-full2 {
      position: absolute;
      display: block;
      width: 100%;
      height: 228px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-btn {
      width: 97px;
      height: 30px;
      border: 2px solid #123cb2;
      color: #123cb2;
      font-size: 11px;
      background: transparent;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-btn:hover {
      width: 97px;
      height: 30px;
      border: 2px solid #123cb2;
      color: white;
      font-size: 11px;
      background: #123cb2;
      font-family: 'kanitlight';
      border-radius: 0px;
      transition: all 0.5s;
  }
  .home-position-a {
      position: absolute;
      margin-top: 47px;
  }
  .home-position-a2 {
      position: absolute;
      margin-top: 112px;
      padding-left: 211px;
  }
  .home-position-a5 {
      position: absolute;
      margin-top: -183px;
      right: 1%;
      padding-left: 0px;
  }
  .home-position-a6 {
      position: absolute;
      margin-top: 16px;
      margin-left: 148px;
      z-index: 1;
  }
  .home-position-a7 {
      position: absolute;
      margin-top: 16px;
      margin-left: 160px;
      z-index: 1;
  }
  .home-position-a8 {
      position: absolute;
      margin-top: 16px;
      margin-left: 154px;
      z-index: 1;
  }
  .home-position-a9 {
      position: absolute;
      margin-top: 16px;
      margin-left: 169px;
      z-index: 1;
  }
  .home-position-a10 {
      position: absolute;
      margin-top: 16px;
      margin-left: 138px;
      z-index: 1;
  }
  .home-position-a11 {
      position: absolute;
      margin-top: 16px;
      margin-left: 150px;
      z-index: 1;
  }
  .home-overlay-image3 {
      position: relative;
      height: 279px;
      width: 100%;
      overflow: hidden;
  }
  .home-image-full3 {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-overlay-image2 {
      position: relative;
      height: 248px;
      width: 100%;
      overflow: hidden;
  }
  .home-btn2 {
      width: 191px;
      height: 30px;
      border: 2px solid #ffcc2b;
      color: #fff;
      font-size: 10px;
      background: #ffcc2b;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-top: -41px;
      margin-left: 10px;
      transition: all 0.5s;
  }
  .home-btn2:hover {
      width: 191px;
      height: 30px;
      border: 2px solid #ffcc2b;
      color: #ffcc2b;
      font-size: 10px;
      background: transparent;
      font-family: 'kanitlight';
      border-radius: 0px;
      margin-top: -41px;
      margin-left: 10px;
      transition: all 0.5s;
  }
  .home-overflow3{
      overflow: hidden;
      height: 69px;
  }
  .home-overlay-coulasel {
      position: relative;
      height: 344px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-coulasel {
      box-shadow: 0px 1px 15px -6px;
      height: 494px;
  }
  .home-overlay-card {
      position: relative;
      height: 352px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-card {
      box-shadow: 0px 1px 15px -6px;
      height: 502px;
  }
  .home-p-t5 {
      padding-top: 0px;
  }
  .home-p-t6 {
      padding-top: 0px;
  }
  .home-p-r{
     padding-right: 15px;
  }

  .new-overlay-image {
      position: relative;
      height: 340px;
      width: 100%;
      overflow: hidden;
  }
  /*------------------------------------
  ---------- END HOME 414 --------------
  ---------------------------------------*/

}


@media(max-width: 375px){
  /*----------- NAVBAR (375) ------------------*/
  .shop-m-l{
      margin-left:20px;
  }
  .search-p-t{
      padding-top: 7px;
  }
  .overlay-logo {
       position: relative;
       height:45px;
       width: 100%;
       overflow: hidden;
  }
  /*----------- END NAVBAR (375) ------------*/

  /*----------- FOOTER (375) ----------------*/
  .footer-font3{
      font-size: 15px;
      color: #ffc526;
      font-family: 'kanitlight';
  }
  .footer-p-t5{
      padding-top: 22px;
  }
  .footer-p-t4{
      padding-top: 4px;
  }
  .footer-pl3{
      padding-left: 0px;
  }
  .footer-payment{
      width: 40px;
      height: 25px;
  }
  .footer-payment:hover{
      width: 40px;
      height: 25px;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
  }
  /*----------- END FOOTER (375) ------------*/

  /*------------------------------------
  -------------  HOME 375 --------------
  ---------------------------------------*/
  .home-position-a5 {
      position: absolute;
      margin-top: -195px;
      right: 1%;
      padding-left: 0px;
  }
  .home-position-a6 {
      position: absolute;
      margin-top: 16px;
      margin-left: 125px;
      z-index: 1;
  }
  .home-position-a7 {
      position: absolute;
      margin-top: 16px;
      margin-left: 144px;
      z-index: 1;
  }
  .home-position-a8 {
      position: absolute;
      margin-top: 16px;
      margin-left: 140px;
      z-index: 1;
  }
  .home-position-a9 {
      position: absolute;
      margin-top: 16px;
      margin-left: 149px;
      z-index: 1;
  }
  .home-position-a10 {
      position: absolute;
      margin-top: 16px;
      margin-left: 123px;
      z-index: 1;
  }
  .home-position-a11 {
      position: absolute;
      margin-top: 16px;
      margin-left: 131px;
      z-index: 1;
  }
  .home-overlay-coulasel {
      position: relative;
      height: 306px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-coulasel {
      box-shadow: 0px 1px 15px -6px;
      height: 456px;
  }
  .home-overlay-card {
      position: relative;
      height: 314px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-card {
      box-shadow: 0px 1px 15px -6px;
      height: 464px;
  }
  .home-overlay-image3 {
      position: relative;
      height: 240px;
      width: 100%;
      overflow: hidden;
  }
  .home-font3 {
      font-size: 18px;
      color: #123cb2;
      font-family: 'kanitmedium';
      line-height: 2;
  }
  /*------------------------------------
  ---------- END HOME 375 --------------
  ---------------------------------------*/
}



@media (max-width: 320px ){
  /*----------- NAVBAR (320) ------------------*/
  .navbar-font2{
      font-size: 9px;
      color: #808080;
      font-family: 'kanitlight';
  }
  .navbar-font3{
      font-size: 9px;
      color: #808080;
      font-family: 'kanitlight';
      text-align: right;
  }
  .navbar-font4{
      font-size: 10px;
      color: #333333;
  }
  .search-p-t{
      padding-top: 4px;
  }
  .overlay-logo {
      position: relative;
      height:35px;
      width: 100%;
      overflow: hidden;
  }
  .shop-logo{
      font-size: 25px;
      margin-top: 0px;
  }
  .shop-m-l{
      margin-left:10px;
  }
  .shop-p-l-r{
      padding-left: 0px;
      padding-right: 0px;
  }
  /*----------- END NAVBAR (320) ------------*/

  /*--------- FOOTER (320) ------------*/
  .footer-p-t5{
      padding-top: 63px;
  }
  .footer-p-t4{
      padding-top: 25px;
  }
  .footer-payment{
      width: 35px;
      height: 22px;
  }
  .footer-payment:hover{
      width: 40px;
      height: 25px;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
  }
  /*--------- END FOOTER (320) ---------*/

  /*------------------------------------
  ----------  HOME 320 --------------
  ---------------------------------------*/
  .home-font3 {
      font-size: 18px;
      color: #123cb2;
      font-family: 'kanitmedium';
      line-height: 1.8;
  }
  .home-p-t7 {
      padding-top: 59px;
  }
  .home-image-full2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 184px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-image-product {
      position: absolute;
      display: block;
      width: 100%;
      height: 320px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-overlay-product {
      position: relative;
      height: 323px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-position-a6 {
      position: absolute;
      margin-top: 16px;
      margin-left: 99px;
      z-index: 1;
  }
  .home-position-a7 {
      position: absolute;
      margin-top: 16px;
      margin-left: 118px;
      z-index: 1;
  }
  .home-position-a8 {
      position: absolute;
      margin-top: 16px;
      margin-left: 114px;
      z-index: 1;
  }
  .home-position-a9 {
      position: absolute;
      margin-top: 16px;
      margin-left: 125px;
      z-index: 1;
  }
  .home-position-a10 {
      position: absolute;
      margin-top: 16px;
      margin-left: 96px;
      z-index: 1;
  }
  .home-position-a11 {
      position: absolute;
      margin-top: 16px;
      margin-left: 109px;
      z-index: 1;
  }
  .home-overlay-coulasel {
      position: relative;
      height: 250px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-coulasel {
      box-shadow: 0px 1px 15px -6px;
      height: 400px;
  }
  .home-overlay-card {
      position: relative;
      height: 259px;
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  .home-card {
      box-shadow: 0px 1px 15px -6px;
      height: 409px;
  }
  .new-overlay-image {
      position: relative;
      height: 288px;
      width: 100%;
      overflow: hidden;
  }
  .home-overlay-image3 {
      position: relative;
      height: 209px;
      width: 100%;
      overflow: hidden;
  }
  /*------------------------------------
  ---------- END HOME 320 --------------
  ---------------------------------------*/
}
