
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 254, 255, 0.25);
}

p,h1,h2,h3,h4,h5{
	color: #333 !important;
}

.color-80{
  color: #808080;
}
.color-rad{
	color: #ED1C24;
}

.gray-btn{
    width: 200px;
    height: 50px;
    border-radius: 0px;
    color: #333333;
        background-color: #33333326;
    transition: all 0.5s;
    font-family: "kanitlight";
    font-size: 17px;
}




/*-------------------------------------
-----------------about-us-----------------
---------------------------------------*/
.about-hr-y{
	border-bottom: 3px solid #ffcc2b;
    width: 220px;
    margin-left: 15px;
}
.about-line-height{
	line-height: 15px;
}
.news_frame-crad{
    position:relative;
    overflow: hidden;
    width:100%;
    height: 250px;

}
.news_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.about_pad_frame{
     padding: 20px 200px 30px 200px;
}
.about_row_bg{
	margin: 40px 0px 40px 0px;
}
.about-size{
	font-size: 40px;
}

/*-------------------------------------
-------------about-us end-----------------
---------------------------------------*/


/*----------------------------------------
-------------contact-us-------------------
-----------------------------------------*/

.contact-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #808080;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-btn{
	background-color: #ffc526;
    border-radius: 0px;
    color: #333;
    padding: 10px 50px 10px 50px;
}
.contact-hr{
	border: 3px solid;
    border-color: #ffc526;
}


.contact-pad{
	 padding: 10px 0px 20px 20px;
}


/*----------------------------------------
-------------contact-us end---------------
------------------------------------------*/

/*----------------------------------------
---------------new------------------------
-----------------------------------------*/
.new-width-cad{
    width: 21rem;
}

.new-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.new_frame-crad{
    position:relative;
    overflow: hidden;
    width:100%;
    height: 250px;

}
.new_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.new_fix_text{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48px;
    font-weight: 600;
}
.new_page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #123CB2;
    background-color: #fff;
    border: 1px solid #ffc526; 
    border-radius: 0px;
}
.new_page-link:hover {
    color: #123CB2;
    text-decoration: none;
    background-color: #ffc526;
    border-color: #ffc526;
    transition: 1s;
}


/*----------------------------------------
---------------new end--------------------
-----------------------------------------*/

/*---------------------------------------
----------------login--------------------
----------------------------------------*/

.login_frame-crad{
    position:relative;
    overflow: hidden;
    width:100%;
    height: 460px;

}
.login_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login-text-shado{
    background-color: white;
    box-shadow: -1px 1px 13px #00000042;
}
.login-mar-15{
    margin-left: -15px;
}
.login-position-a {
    position: absolute;
    margin: 110px 30px 0px 78px;
  }
.login-color-org{
    color: #f36006e8;
}
.login-color-green{
    font-size: 25px;
    color: #50b23f;
}
.login-from {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login-btn {
    width: 70%;
    height: 50px;
    border-radius: 0px;
    color: #333333;
    background-color: #ffc526;
    transition: all 0.5s;
    font-family: "kanitlight";
    font-size: 17px;
}

.login-btn:hover{
    width: 70%;
    height: 50px;
    border-radius: 0px;
    color: #fff;
    background-color: #123cb2;
    transition: all 0.5s;
    font-family: "kanitlight";
    font-size: 17px;
}
.login-btn2 {
    transition: all 0.5s;
    height: 50px;
    border-radius: 0px;
    background-color: #3F51B5;
    border-radius: 0px;
    color: #fff;
    width: 70%;
}

.login-display{
    display: flex;
    font-size: 14px;
}
.login-font-32{
   font-size: 32px;
}




/*---------------------------------------
----------------login end----------------
----------------------------------------*/

/*---------------------------------------
---------------login-register------------
----------------------------------------*/

.re-modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: -118px;
}

.re-login-from {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/*---------------------------------------
---------------login-register end--------
----------------------------------------*/





@media(max-width: 1366px){
    /*-----------------------------
    ------------re-login 1366--------
    -------------------------------*/
    .re-modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: -140px;
    }
 /*-----------------------------
    ------------re-login 1366--------
    -------------------------------*/

}


@media(max-width: 1024px){

    /*--------------------------------
    ------------login 1024-------------
    ----------------------------------*/

    .login_frame-crad {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 430px;
    }
    .login-position-a {
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
}

    /*---------------------------------
    -------------login end 1024--------
    ----------------------------------*/

    /*---------------------------------
    -------------re-login 1024---------
    ----------------------------------*/
    .re-modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: -115px;
    }
    /*---------------------------------
    -------------re-login 1024---------
    ----------------------------------*/

}



@media(max-width: 768px){

    /*-----------------------
    --------re-login---------
    ------------------------*/
    .re-modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: -125px;
}
    /*-----------------------
    --------re-login---------
    ------------------------*/




    /*--------------------------------
    ------------login 768-------------
    ----------------------------------*/
    .login_frame-crad {
    position: relative;
    overflow: hidden;
    width: 104%;
    height: 600px;
}
    .login-position-a {
        position: absolute;
        margin-top: 200px;
        margin-left: 140px;
    }



    /*---------------------------------
    -------------login end 768--------
    ----------------------------------*/


	.about_pad_frame {
    	padding: 0px 0px 0px 0px; 
}


}


@media(max-width: 414px){

    .font-10{
    font-size: 10px;
}

    .re-modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: 0px;
}
 




    /*-----------------------
    --------login 414--------
    -------------------------*/

.login-position-a {
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
}
.login_frame-crad {
    position: relative;
    overflow: hidden;
    width: 108%;
    height: 350px;
}
.login-from {
    width: 100%;
}
.login-btn{
    width: 100%;
}
.login-btn2{
    width: 100%;
}
   /*-----------------------
    --------login 414 end--------
    -------------------------*/



/*-------------------------------
---------about 414---------------
--------------------------------*/

.about_pad_frame {
    padding: 0px 0px 0px 0px; 
}
.about_row_bg {
        margin: -10px 0px -10px 0px;
}
.about-size {
    font-size: 25px;
}
.about-hr-y {
    margin-top: 0px;
}
/*-------------------------------
---------about 414 end-----------
--------------------------------*/


}


@media(max-width: 375px){

/*-------------------------------
---------about 375---------------
--------------------------------*/
	.about_pad_frame {
     	padding: 0px 0px 0px 0px; 
}
.about-size {
    font-size: 20px;
}
.about-hr-y {
    border-bottom: 3px solid #ffcc2b;
    width: 170px;
    margin-left: 15px;
}

/*-------------------------------
---------about 375 end------------
--------------------------------*/

    /*-----------------------
    --------login 375--------
    -------------------------*/


.login_frame-crad {
    position: relative;
    overflow: hidden;
    width: 109%;
    height: 340px;
}
.login-position-a {
    position: absolute;
    margin-top: 45px;
    margin-left: 30px;
}
.login-font-32 {
    font-size: 25px;
}

   /*-----------------------
    --------login 375 end--------
    -------------------------*/

}



@media (max-width: 320px ){

/*-------------------------------
---------about 320---------------
--------------------------------*/
	.about_pad_frame {
    	padding: 0px 0px 0px 0px; 
}

/*-------------------------------
---------about 320---------------
--------------------------------*/

/*---------------------------
----------login 320----------
----------------------------*/
.login_frame-crad {
    position: relative;
    overflow: hidden;
    width: 112%;
    height: 284px;
}
.login-position-a {
    position: absolute;
    margin-top: 5px;
}
.login-font-32 {
    font-size: 20px;
}
/*---------------------------
----------login 320----------
----------------------------*/

}
