
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 254, 255, 0.25);
}

p,h1,h2,h3,h4,h5{
	color: #333 !important;
}

.color-80{
  color: #808080;
}


/*-------------------------------------
-----------------about-us-----------------
---------------------------------------*/
.about-hr-y{
	border-bottom: 3px solid #ffcc2b;
    width: 220px;
    margin-left: 15px;
}
.about-line-height{
	line-height: 15px;
}
.news_frame-crad{
    position:relative;
    overflow: hidden;
    width:100%;
    height: 250px;

}
.news_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.about_pad_frame{
     padding: 20px 200px 30px 200px;
}
.about_row_bg{
	margin: 40px 0px 40px 0px;
}
.about-size{
	font-size: 40px;
}

/*-------------------------------------
-------------about-us end-----------------
---------------------------------------*/


/*----------------------------------------
-------------contact-us-------------------
-----------------------------------------*/

.contact-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #808080;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-btn{
	background-color: #ffc526;
    border-radius: 0px;
    color: #333;
    padding: 10px 50px 10px 50px;
}
.contact-hr{
	border: 3px solid;
    border-color: #ffc526;
}

.contact-btn-text-whith{
	background-color: #ffc526;
    border-radius: 0px;
    color: #fff;
    padding: 10px 50px 10px 50px;
}
.contact-pad{
	 padding: 10px 0px 20px 20px;
}


/*----------------------------------------
-------------contact-us end---------------
------------------------------------------*/




@media(max-width: 1366px){

}


@media(max-width: 1024px){

}



@media(max-width: 768px){
	.about_pad_frame {
    	padding: 0px 0px 0px 0px; 
}


}


@media(max-width: 414px){
.about_pad_frame {
    padding: 0px 0px 0px 0px; 
}
.about_row_bg {
        margin: -10px 0px -10px 0px;
}
.about-size {
    font-size: 25px;
}
.about-hr-y {
    margin-top: 0px;
}


}


@media(max-width: 375px){
	.about_pad_frame {
     	padding: 0px 0px 0px 0px; 
}
.about-size {
    font-size: 20px;
}
.about-hr-y {
    border-bottom: 3px solid #ffcc2b;
    width: 170px;
    margin-left: 15px;
}

}



@media (max-width: 320px ){
	.about_pad_frame {
    	padding: 0px 0px 0px 0px; 
}

}
